<div class="container">


  <img src="https://c.tenor.com/tEBoZu1ISJ8AAAAC/spinning-loading.gif" *ngIf="loading"/>

  
  <ul class="task-list">
    <h2>
      todos
    </h2>
    <input [(ngModel)]="newTodoTitle" (keyUp.enter)="saveNewTask()" type="text" placeholder="Titulo de la nueva tarea">


    <li [ngClass]="{ 'completed' :  currentTask.completed }" [class.completed]="currentTask.completed"
      *ngFor="let currentTask of tasks" class="task">
      <span (click)="completeThisTask(currentTask)" class="complete-btn"></span>
      <span class="task-title">{{ currentTask.title }}</span>
      <span (click)="deleteThisTask(currentTask)" class="delete-btn">X</span>

    </li>
  </ul>
</div>